[[source]]
name = "pypi"
url = "https://pypi.python.org/simple"
verify_ssl = true

[requires]
python_version = "3.9"

[packages]
lmfit = "*"
matplotlib = "*"
natsort = "*"
numpy = "*"
scipy = "*"
spectra = {editable = true, path = "."}

[dev-packages]
black = "*"
flake8 = "*"
isort = "*"
mypy = "*"
pre-commit = "*"
pytest = "*"
pytest-cov = "*"
spectra = {editable = true, path = "."}

[pipenv]
allow_prereleases = true
